.palette-container {
    background-color: rgb(204, 206, 206);
    object-fit: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px black solid;
    border-radius: 10px;
    scrollbar-width: thin;
}